.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 3vh;
}
.image{
    position: relative;
    width: 10%;
    height: 10%;
}
img{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    object-fit: contain;
}
.tags{
    width: 30%;
}
.tags ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
    /* margin: 10px; */
}
ul li{
    font-size: 1.15em;
    font-weight: bold;
    list-style: none;
    padding: 10px 50px;
}
ul li a{
    text-decoration: none;
}